/*#region body*/
body{
    font-family: OCR A Std, monospace;
    background-color: lightgrey;
}
/*#endregion body*/

/*#region a*/
a:link {
    color: rgb(0, 30, 128);
    background-color: transparent;
    text-decoration: none;
    text-decoration: underline;
}
a:visited {
    color: rgb(0, 153, 89);
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: rgb(0, 236, 12);
    background-color: transparent;
    text-decoration: underline;
}
/*#endregion a*/

hr{
    border: 2px solid black;
}